#board{
 display: grid;
 width: 600px;
 float: center;
 display: inline-block;
 text-align: center;
 /*transform: rotate(45deg);*/
}
.cell {
  background-color: #000080;
  border: .5px solid white;
}
.btn{
  color: white;
  background: #d4af37;
  font-size: 14px;
  border: 0;
  padding: 12px 0;
  width: 140px;
  border-radius: 0 0 2px 2px;
}
#submit {
  width: 300px;
  justify-content: right;
  float: right;
  display: inline-block;
}
body{
  margin-bottom: 100px;
}
#game-setup {
  width: 300px;
  justify-content: right;
  display: inline-block;
}
.control-panel{
  display: inline-block;
}
div {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}
