#board{
  margin: 50px;
 display: grid;
 width: 600px;
 float: center;
 display: inline-block;
 text-align: center;

 /*transform: rotate(45deg);*/
}

.game-play{
  height: 600px;
}
.game-start-buttons{
  height: 100px;
  float: right;
}


.cell {
  background-color: #000080;
  border: .5px solid white;
}
.start-buttons{
  color: white;
  background: #d4af37;
  font-size: 14px;
  border: 0;
  padding: 12px 0;
  width: 140px;
  border-radius: 0 0 2px 2px;
  margin: 2px;
}
#start-button {
  width: 100%;
}
.canvas {
  flex-wrap: wrap;
  display: flex;
}

#restart {
  float: right;
}
body{
  margin-bottom: 100px;
}
#game-setup {
  /*justify-content: right;*/
  float: right;
}
.control-panel{
  display: inline-block;
  width: 650px;
  height: 600px;
  margin: 50px;
}


#roll-dice {
  background: none;
  border: none;
  font-weight: 300;
  width: 100%;
  color: #555;
}
#roll-dice:hover {
  font-weight: 600;
}
.start-buttons:hover {
  border: 2px solid blue;
}
#dice {
  width: 100%;
  display: inline-block;
  justify-content: center;

}
.ready-up{
    pointer-events: none;
    outline: none;
    margin: 0px;
    height: 100%;
}
img {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 10px;
}
#turn-anchor{
  width: 20px;
  height: 20px;
  margin: 0px;
  margin-left: 5px;
}
.animate {
  animation: shake 0.5s;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
#dice-1{
  float: left;
  margin-left: 25%;
}
#dice-2{
  float: right;
  margin-right: 25%;
}
#team-black-color {
  background-color:black;
}
#team-blue-color {
  background-color:blue;
}
#team-white-color {
  background-color:white;
}
#team-green-color {
  background-color:green;
}
table {
  width: 100%;
}
table, th, td {
  padding: 10px;
  border: 1px solid black
}
thead {
  font-weight: bold;
}
td {
  width: 50px;
  margin: 30px;
  height: 50px;
}
.team-color {
  width: 30px;
  height: 20px;
}
.lobby-user {
  width: 400px;
}
